body {
	background: white;
	margin: 0 !important;
}



.content {
	margin-right: 30px;
	margin-left: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
}


.red-bg {
	background-color: red;
	color: white;
}

h3 {
	margin-bottom: 40px;
	margin-top: 33px;
	margin-left: 40px;
}

li {
	list-style-type: none;
}

.column {
	display: inline-block;
	border: 5px solid #E5E000;
	width: 400px;
	height: 800px;
	border-radius: 30px;
	margin: 0px 25px 25px;
	text-align: left;
}

.main {
text-align: center;
padding: 52px 0px;
}


footer {
	margin-top: 50px;
}
