@font-face {
    font-family: <Arial>;
}

header {
    position: sticky;
    background-color: white;
    z-index: 2;
    top: 0;
}

body {
    margin: 0;
}

.container {
    margin-left: 50px;
    margin-right: 50px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}

.item {
    color: #E50043;
    font-family: arial;
    font-size: 50px;
    font-weight: 400;
}

p {
    font-family: arial;
}

.link {
    flex-grow: 1;
}

.link1 {
    margin-right: 25px;
}


.flex-container {
    display: flex;
    justify-content: space-around;
}


.text1 {
    margin-top: 150px;
    margin-bottom: 150px;
    position: relative;
    border: 3px solid #F8BFC7;
    border-radius: 20px;
    padding: 0 24px;
    width: 1040px;
    height: 280px;
    font-size: 25px;
    font-weight: 400;
}

.bottle {
    width: 280px;
}

.bottle p {
    text-align: center;
    font-size: 25px;
    font-weight: 400;
}

.flex-container1 {
    display: flex;
    justify-content: center;
}

.flex-container.bottles {
    width: 1040px;
    margin-left: 150px;
    justify-content: space-between;
}

.text1.second {
    display: flex;
}

.text1.second img {
    max-height: 220px;
    margin: 0 80px;
    padding-top: 30px;
}

.last-text {
    padding-right: 30px;
}

footer {
    background-color: #F8BFC7;
    color: white;
    font-size: 50px;
    font-weight: 400;
}

footer .container p {
    margin: 0;
    padding: 50px 0;
}

.flex-container.img {
    background-image: url('../img/evian_origins_logo.png');
    height: 950px;
}

h1 {
    font-family: arial;
    font-size: 100px;
    color: #E50043;
    position: absolute;
    background-color: transparent;
    margin-top: 400px;
}